{% extends "base.html" %} {% block title %}Dokumentasi - HMSI{% endblock %} {% block content %}

<!-- Navbar Kedua -->
<div class="py-1 mt-[-80px]">
  <div class="container mx-auto flex justify-start">
    <a href="{{ url_for('home') }}#berita" class="text-black font-bold px-4 py-2 hover:text-blue-600 hover:bg-gray-10 transition-all duration-300">Berita Terbaru</a>
    <a href="{{ url_for('kegiatan') }}#kegiatan" class="text-black font-bold px-4 py-2 hover:text-blue-600 hover:bg-gray-100 transition-all duration-300">Kegiatan</a>
    <a href="{{ url_for('publikasi') }}#publikasi" class="text-black font-bold px-4 py-2 hover:text-blue-600 hover:bg-gray-100 transition-all duration-300">Publikasi</a>
    <a href="{{ url_for('dokumentasi') }}#dokumentasi" class="text-black font-bold px-4 py-2 hover:text-blue-600 hover:bg-gray-100 transition-all duration-300 border-b-2 border-blue-600">Dokumentasi</a>
  </div>
</div>

<!-- Garis Pemisah -->
<hr class="container mx-auto my-1 border-gray-400" />

<!-- Dokumentasi -->
<div class="container mx-auto mt-5 px-5">
  <h2 class="text-2xl font-bold text-black mb-4">Dokumentasi</h2>
  <p class="text-gray-600 text-sm mb-3">Klik gambar untuk melihat dalam ukuran penuh dan membaca informasi lengkapnya.</p>
  <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-1">
    <!-- Loop untuk gambar -->
    {% for image in images %}
    <div class="relative group overflow-hidden">
      <label for="modal-{{ loop.index }}" class="cursor-pointer block">
        <img src="{{ url_for('static', filename='images/' + image.src) }}" alt="Gambar {{ loop.index }}" class="w-full h-full object-cover transition-transform duration-300 ease-in-out aspect-[4/5] group-hover:scale-105" />
      </label>
      <input type="checkbox" id="modal-{{ loop.index }}" class="modal-toggle peer hidden" />
      <div class="modal fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-75 hidden peer-checked:flex">
        <div class="modal-box bg-white p-4 max-w-2xl relative">
          <img src="{{ url_for('static', filename='images/' + image.src) }}" alt="Gambar {{ loop.index }}" class="w-full rounded-lg" />
          <p class="text-gray-700 mt-2 text-center">{{ image.description }}</p>
          <div class="modal-action text-center mt-4">
            <label for="modal-{{ loop.index }}" class="btn bg-black text-white px-4 py-2 rounded">Tutup</label>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
