{% extends "base.html" %}

{% block title %}Profile - HMSI{% endblock %}

{% block content %}
    <!-- Profile Section -->
    <div class="container mx-auto px-6 py-16 font-arial -mt-20">
      <div class="bg-white p-8 rounded-sm shadow-sm max-w-3xl mx-auto">
        <h3 class="section-profile">Profil HMSI</h3>

        <!-- Logo -->
        <div class="text-center">
          <img src="{{ url_for('static', filename='images/hmsi.png') }}" alt="Logo HMSI" class="profile-logo" />
        </div>

        <!-- Section Daftar Pengurus -->
<section class="container mx-auto px-6 py-12">
  <h2 class="text-3xl md:text-2xl font-bold text-center text-black mb-7">Daftar Pengurus</h2>
  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {% for p in pengurus %}
      <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center text-center hover:shadow-xl transition duration-300">
          <img src="{{ p.foto }}" alt="Foto {{ p.nama }}" class="w-40 h-40 object-cover shadow-lg mb-4">
          <p class="text-lg font-semibold">{{ p.nama }}</p>
          <p class="text-sm text-gray-500">{{ p.jabatan }}</p>
      </div>
      {% endfor %}
  </div>
</section>

<!-- Section Divisi HMSI -->
<section class="container mx-auto px-6 py-12">
  <h2 class="text-3xl md:text-2xl font-bold text-center text-black mb-7">Divisi HMSI</h2>

  {% for d in divisi %}
  <div class="division mb-8">
      <p class="text-xl font-bold text-center text-black mb-4">{{ d.nama }}</p>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
          {% for a in d.anggota %}
          <div class="flex flex-col items-center text-center">
              <img src="{{ a.foto }}" alt="Foto {{ a.nama }}" class="w-32 h-32 object-cover rounded-lg shadow-md">
              <p class="font-semibold mt-2">{{ a.nama }}</p>
              <p class="text-sm text-gray-500">Anggota</p>
          </div>
          {% endfor %}
      </div>
  </div>
  {% endfor %}
</section>

        <!-- Navigation Links -->
         <div class="navigation flex justify-between">
            <a href="{{ url_for('about') }}" class="ml-4">&larr; About</a>
            <a href="{{ url_for('visi') }}" class="mr-4">Visi & Misi &rarr;</a>
        </div>
   </div>
   {% endblock %}